/* #region Common */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion Common */

/* #region Utilities */
:root
{
    --primary: #0084fdFF;
    --secondary: #b5ddffFF;
    --different: #9792e4FF;
    --dark: #333333FF;
    --darker: #000000FF;
    --lighter: #ffffffFF;
}

.container
{
   max-width: 1140px;
   width: 90%;
   padding: 1rem;
   margin: auto;
}

.space_btw
{
    display: flex;
    justify-content: space-between;
}

.direction_column
{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.col-12
{
    width: calc((100/12)*12);
}

.col-8
{
    width: calc((100/12)*8);
}

.col-6
{
    width: calc((100/12)*6);
}

.col-4
{
    width: calc((100/12)*4);
}

.col-3
{
    width: calc((100/12)*3);
}

.col-2
{
    width: calc((100/12)*2);
}

.col-1
{
    width: calc((100/12)*1);
}
/* #endregion Utilities */

/* #region Debug */
.debug #site_header
{
    height: 100px;
}

.debug #demo
{
    height: 300px;
}

.debug #planning
{
    height: 300px;
}

.debug #testimonial
{
    height: 300px;
}

.debug #benefits
{
    height: 300px;
}

.debug #about_us
{
    height: 300px;
}

.debug #get_started
{
    height: 300px;
}

.debug #site_footer
{
    height: 100px;
}
/* #endregion Debug */

/* #region Header */
#site_header
{
    background-color: var(--primary);
    position: fixed;
    width: 100%;
}

.small_menu
{
    width: 30px;
}

.one,
.two,
.three
{
    width: 30px;
}

.small_menu div
{
    height: 4px;
    background-color: var(--lighter);
    margin: 5px 0;
    border-radius:25px;
    display: block;
}

.big_menu
{
    display: none;
}
/* #endregion Header */

/* #region Main */
#site_main
{
    background-color: var(--lighter);
    padding-top: 6rem;
}

#planning,
#benefits,
#get_started
{
    background-color: var(--different);
}

h4
{
    color: var(--primary);
}

.card_demo
{
    background-color: var(--secondary);
}

.blue_btn
{
    
}
/* #endregion Main */

/* #region Footer */
#site_footer
{
    background-color: var(--dark);
}
/* #endregion Footer */

/* #region MediaQuery */
@media screen and (min-width:768px)
{
    
}

@media screen and (min-width:992px)
{

}

@media screen and (min-width:1200px)
{

}
/* #endregion MediaQuery */